@model SportsTournamentManager.Models.Match

<h2>Chi tiết trận đấu</h2>

<dl class="row">
    <dt class="col-sm-2">Ngày</dt>
    <dd class="col-sm-10">@Model.Date.ToString("dd/MM/yyyy")</dd>

    <dt class="col-sm-2">Giải đấu</dt>
    <dd class="col-sm-10">@Model.Tournament?.Name</dd>

    <dt class="col-sm-2">Đội A</dt>
    <dd class="col-sm-10">@Model.TeamA?.Name</dd>

    <dt class="col-sm-2">Đội B</dt>
    <dd class="col-sm-10">@Model.TeamB?.Name</dd>

    <dt class="col-sm-2">Tỉ số</dt>
    <dd class="col-sm-10">@Model.ScoreA - @Model.ScoreB</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>